<!-- templates/base.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>LiveMeeting</title>
   {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  

  <!-- 其他 JS 文件 -->
  <script src="{% static 'js/main.js' %}" defer></script>
<body>
  <header>
    <div id="header-left">
      <h1>LiveMeeting</h1>
    </div>
    <div id="header-right" style="position: relative;">
      {% if user.is_authenticated %}
        <div>Welcome {{ user.username }} | <a href="{% url 'logout' %}">Log out</a></div>
      {% else %}
        <a href="{% url 'admin:login' %}">Admin login</a>
      {% endif %}
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
