<!-- templates/sharescreen/room.html -->
 
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Live Screen Sharing: {{ room_name }}</h2>

<!-- Screen sharing -->
<div id="ownerVideoContainer" style="display:none;">
  <video id="localVideo" autoplay muted style="width:800px;border:2px solid #666;border-radius:8px;"></video>
  <p>🧑‍💻 You are sharing your screen</p>
</div>

<!-- Viewers -->
<div id="viewerVideoContainer" style="display:none;">
  <video id="remoteVideo" autoplay style="width:800px;border:2px solid #333;border-radius:8px;"></video>
  <p>👀 You are watching a screen sharing session.</p>
</div>

<script>
    const ROOM_NAME = "{{ room_name }}"; 
</script>

<script type="module" src="{% static 'js/sharescreen.js' %}"></script>
{% endblock %}
